*{
    box-sizing: border-box;
}

body {
    font: normal 14px/1.4 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.skrollr-desktop body {
    height: 100% !important;
}

#skrollr-body {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display: none !important;
}

.parallax-image-wrapper {
    position: fixed;
    left: 0;
    top: -80vh;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.parallax-image {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display: none !important;
}

.gap {
    margin: 0;
    background: transparent center no-repeat;
    background-size: cover;
    height: 24vh;
}

.skrollr .gap {
    background: transparent !important;
}

.receipe-gap {
    margin: 0;
    background: transparent center no-repeat;
    background-size: cover;
    height: 20vh;
}

.skrollr .receipe-gap {
    background: transparent !important;
}

.error-gap {
    background: transparent center no-repeat;
    background-size: cover;
    height: 160vh;
}

.skrollr .error-gap {
    background: transparent !important;
}

#page-intro h1 {
    text-align: center;
    color: #fff;
    font: normal 112px 'Marker Felt', condensed, sans-serif;
}

.body-text {
    background-color: #fff;
    color: #25373C;
    font-size: 18px;
    text-align: center;
}

.body-text h2 {
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}

.body-text p {
    width: 80%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    color: #45636B;
}

footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 25px;
    overflow: hidden;
}

footer .footer-left {
    float: left;
}

footer h3 {
    color: #5383d3;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

footer .footer-links {
    color: #95A4A9;
    margin: 22px 0 14px;
}

footer .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: #242424;
}

footer .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

footer .footer-right {
    float: right;
    width: 100%;
}

footer form input::-webkit-input-placeholder {
    color: #5c666b;
}

footer form input::-moz-placeholder {
    opacity: 1;
    color: #5c666b;
}

footer form input:-ms-input-placeholder {
    color: #5c666b;
}

form {
    width: 75%;
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(250,250,250,0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.main h1 {
    font-family: sans-serif;
}

.donation table {
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float: center;
}

.donation td {
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-shadow: 0px 0px #FFFFFF;
    text-align: center;
    word-break: break-all;
}

.donation tr {
    opacity: 0.7;
}

.recipe p {
    font-family: sans-serif;
    font-size: 18px;
}

.recipe ol {
    font-family: sans-serif;
    font-size: 18px;
    margin: 20px;
}

.recipe section {
    padding: 25px;
    margin: 25px;
    display: inline-block;
}

.recipe table {
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float: center;
}

.recipe td {
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-shadow: 0px 0px #FFFFFF;
    text-align: center;
    word-break: break-all;
}

.recipe tr {
    opacity: 0.7;
}

.recipe tr:first-child { font-weight: bold }

.result div {
    width: 75%;
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(250,250,250,0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.result table {
    font-family: sans-serif;
    font: 18px/1 sans-serif;
    background-color: rgba(0,0,0,0);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
